.section__title DANCE
.section__body
  .about__body Archive of all Ramona Lisa stage choreography, documented by photographer Amanda Vincelli. Shot October 2014 in Brooklyn NY.  Dancers from left to right: Jen Monroe, Caroline Polachek, Sarah Kinlaw. Main choreography by Caroline Polachek, with additional choreography contributed throughout by Jen Monroe, Sarah Kinlaw, and Juri Onuki. Dance coaching throughout by Juri Onuki.
  .videos
    .video.overlay__click(data-video='whZZvS7I-VI')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/whZZvS7I-VI/mqdefault.jpg'
        width='800'
        height='450')
      .video__title ARCADIA

    .video.overlay__click(data-video='Wcog3a4Hj-0')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/Wcog3a4Hj-0/mqdefault.jpg'
        width='800'
        height='450')
      .video__title "IZZIT TRUE WHAT THEY TELL ME"

    .video.overlay__click(data-video='EGEkLD_fHJ8')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/EGEkLD_fHJ8/mqdefault.jpg'
        width='800'
        height='450')
      .video__title "GETAWAY RIDE"

    .video.overlay__click(data-video='Cgf1SHpTkZI')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/Cgf1SHpTkZI/mqdefault.jpg'
        width='800'
        height='450')
      .video__title "AVENUES"

    .video.overlay__click(data-video='cAAX-8d5_w8')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/cAAX-8d5_w8/mqdefault.jpg'
        width='800'
        height='450')
      .video__title "HISSING PIPES AT DAWN"

    .video.overlay__click(data-video='njhi9swmLMs')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/njhi9swmLMs/mqdefault.jpg'
        width='800'
        height='450')
      .video__title "THE ORCHIDS (PSYCHIC TV COVER)"

    .video.overlay__click(data-video='01SG9a8hd1s')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/01SG9a8hd1s/mqdefault.jpg'
        width='800'
        height='450')
      .video__title "DOMINIC"

    .video.overlay__click(data-video='wCR0bj3m2QE')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/wCR0bj3m2QE/mqdefault.jpg'
        width='800'
        height='450')
      .video__title "THE LADY'S GOT GILLS"

    .video.overlay__click(data-video='f3CGhjdENjM')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/f3CGhjdENjM/mqdefault.jpg'
        width='800'
        height='450')
      .video__title "WALKING IN THE CEMETERY"

    .video.overlay__click(data-video='M_QJE3eNUzA')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/M_QJE3eNUzA/mqdefault.jpg'
        width='800'
        height='450')
      .video__title "BACKWARDS AND UPWARDS"

