.section__title LIVE ARCHIVE

.section__body
  .accordion__table
    each performance in performances
      .accordion__row.accordion__click
        .accordion__cell.accordion__title #{performance.title}
        .accordion__cell.accordion__date #{performance.date}
        .accordion__cell.accordion__photographer #{performance.photographer}
        .accordion__cell.accordion__source #{performance.place}
      .accordion__row.accordion__target
        .accordion__cell.accordion__media
          a.overlay__click(href='images/performance/#{performance.file}'  target='_blank')
            img.viewer(src='images/performance/#{performance.file}')
          .accordion__info
            if performance.photographer
              b #{performance.photographer}<br />
            if performance.place
              span #{performance.place}<br />
            if performance.date
              span #{performance.date}

