.section__title Photos
.section__body
  .accordion__table
    each photo in photos
      .accordion__row.accordion__click

        .accordion__cell.accordion__title #{photo.title}

        .accordion__cell.accordion__year #{photo.date}

        .accordion__cell.accordion__photographer #{photo.photographer}

        .accordion__cell.accordion__source #{photo.source}

      .accordion__row.accordion__target
        .accordion__cell.accordion__media
          a.overlay__click(href='images/photos/#{photo.file}' target="_blank")
            img.viewer(src='images/photos/#{photo.file}')
          .accordion__info
            if photo.photographer
              b #{photo.photographer}<br />
            if photo.source
              span #{photo.source}<br />
            if photo.date
              span #{photo.date}

