.section__title VIDEO
.section__body
  .videos
    .video.overlay__click(data-video='eghzhlbv6Cc')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/eghzhlbv6Cc/maxresdefault.jpg'
        width='800'
        height='450')
      .video__title “Arcadia”
      .video__descr Directed by Caroline Polachek &amp; Ross Menuez

    .video.overlay__click(data-video='iFdgPcd7wpw')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/iFdgPcd7wpw/maxresdefault.jpg'
        width='800'
        height='450')
      .video__title “Dominic”
      .video__descr Directed by Caroline Polachek

    .video.overlay__click(data-video='JYXTmJI8drU')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/JYXTmJI8drU/maxresdefault.jpg'
        width='800'
        height='450')
      .video__title "Backwards And Upwards"
      .video__descr Directed / Animated by Caroline Polachek

    .video.overlay__click(data-video='2QmzFq9mh0M')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/2QmzFq9mh0M/maxresdefault.jpg'
        width='800'
        height='450')
      .video__title “I Love Our World”
      .video__descr Directed / Edited by Caroline Polachek

    .video.overlay__click(data-video='pKFufxPJil4')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/pKFufxPJil4/maxresdefault.jpg'
        width='800'
        height='450')
      .video__title "The Lady's Got Gills"
      .video__descr Directed by Michel Auder & Andrew Neel

    .video.overlay__click(data-video='51eLNS1KC3I')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/51eLNS1KC3I/maxresdefault.jpg'
        width='800'
        height='450')
      .video__title "The Making of Arcadia"
      .video__descr Directed by Chloe Altcheck, Produced by MssngPeces
