.section__title VIDEO
.section__body
  .overlay__container
    .overlay__viewer
      iframe.overlay__view(src='', style="visibility:hidden", onload="this.style.visibility = 'visible'" )
  .videos
    .video.overlay__click(data-video='eghzhlbv6Cc')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/eghzhlbv6Cc/mqdefault.jpg'
        width='800'
        height='450')
      .video__title “Arcadia” (2014)
      .video__descr Directed by Caroline Polachek &amp; Ross Menuez

    .video.overlay__click(data-video='iFdgPcd7wpw')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/iFdgPcd7wpw/mqdefault.jpg'
        width='800'
        height='450')
      .video__title “Dominic” (2014)
      .video__descr Directed by Caroline Polachek

    .video.overlay__click(data-video='JYXTmJI8drU')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/JYXTmJI8drU/mqdefault.jpg'
        width='800'
        height='450')
      .video__title "Backwards And Upwards" (2014)
      .video__descr Directed / Animated by Caroline Polachek

    .video.overlay__click(data-video='2QmzFq9mh0M')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/2QmzFq9mh0M/mqdefault.jpg'
        width='800'
        height='450')
      .video__title “I Love Our World” (2015)
      .video__descr Directed / Edited by Caroline Polachek

    .video.overlay__click(data-video='pKFufxPJil4')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/pKFufxPJil4/mqdefault.jpg'
        width='800'
        height='450')
      .video__title "The Lady's Got Gills" (2014)
      .video__descr Directed by Michel Auder & Andrew Neel

    .video.overlay__click(data-video='51eLNS1KC3I')
      img.video__image.-boxed(
        src='http://img.youtube.com/vi/51eLNS1KC3I/mqdefault.jpg'
        width='800'
        height='450')
      .video__title "The Making of Arcadia" (2014)
      .video__descr Directed by Chloe Altcheck, Produced by MssngPeces
